<h1>Express Server Login Testing site</h1>
<div class="row">

<section class="col fifty">
    <h2>Login Test</h2>
    <p>Login servers are used to protect sensitive pages from non-users. This site has a few pages but unless you are logged in you will be unable to view the "Home" page</p>
    <p>Before continuing with your own project it is recommended that you run the login test below</p>
    <p>Try logging in with the following credentials, <code>Admin:Password123</code></p>
        <form action="/auth/login" method="POST" id="loginForm" class="col-center raised">
            <div class="row-center">
                <div class="col">
                    <label for="username" class="smallLabel">Username</label>
                    <div class="row inputRow">
                        <i class="far fa-user"></i>
                        <input type="text" name="username" required id="username">
                    </div>
                </div>
                <div class="col">
                    <label for="password" class="smallLabel">Password</label>
                    <div class="row inputRow">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="password" required id="password">
                    </div>
                </div>
            </div>
            <button type="submit">Login</button>
            <% if(message.error){ %>
                <p class="error">Please enter valid credentials</p>
            <%}%>
        </form>
</section>
<section class="col fifty">
    <h2>Modules</h2>
    <p>This project comes pre-built with lots of ready to use modules, visit <a href="https://modules.onlinedesignstudio.co.uk" target="_blank">this web page</a> to find out how they all work.</p>
    <h3>Included modules</h3>
    <ul>
        <li>Client Messages</li>
        <li>Waiter Object</li>
        <li>Switches</li>
        <li>Popups</li>
        <li>Searchbar</li>
        <li>Number Input Functionality</li>
        <li>HTML Element Creation</li>
        <li>Get and Post Fetch Requests</li>
        <li>Device Detection</li>
        <li>Lazy Loading Content</li>
    </ul>
</section>
</div>