<h1>Express Server Login testing Site</h1>

<section>
    <p>Login areas are vital to the successful running of almost all businesses. There will likely be some, if not all, pages that you do not want the general public to have access to.</p>
    <p>Create a robust permission level structure and ensure that your consumers are only accessing what they are supposed to.</p>
    <form action="/auth/login" method="POST" class="fw">
        <h3>Login Test</h3>
        <div class="row">
            <div class="row">
                <label for="username">Username</label>
                <input type="text" required name="username" id="username">
            </div>
            <div class="row">
                <label for="password">Password</label>
                <input type="password" required name="password" id="password">
            </div>
        </div>
        <p class="warning" id="formWarning" data-state="hidden">Invalid Credentials</p>
        <button type="submit">Login</button>
    </form>
</section>

<script type="module">
    import {alterState} from "/js/functions.js";

    let formWarning = document.querySelector("#formWarning");
    if(message != ""){
        formWarning.textContent = message;
        alterState(formWarning, "shown");
    }
</script>