</main>
<footer>
    <a href="https://onlinedesignstudio.co.uk" target="_blank">Online Design Studio</a>
</footer>

<script>
    let message = '<%= message.info || message.error%>'
    const device = '<%= device %>'
</script>
<script type="module" src="/js/footer.js"></script>