<a href="/#main" class="skip-link">Skip to main content</a>
<%if(device == "phone"){%>
    <button tabIndex="0" id="hamburger" data-state="inactive"></button>
<%}%>
<%if(typeof user == "undefined"){%>
    <%- include("./headers/website.ejs") %>
<%}else{%>
    <%- include("./headers/dashboard.ejs")%>
<%}%>
<main id="main" tabindex="-1">