<header class="row" id="header">
    <nav>
        <a href="/">Home</a>
        <% if(typeof user != "undefined"){ %>
            <form id="logoutForm" action="/auth/logout?_method=DELETE" method="POST"><button type="submit">Logout</button></form>
        <%}else{%>
            <a href="/auth/login">Login</a>
        <%}%>
    </nav>
</header>