<div class="flex-row">
    <div class="flex-column">
        <label for="hotelName" class="formLabel">Hotel Name</label>
        <input type="text" name="hotelName" id="hotelName" class="formInput" required>
    </div>
    <div class="flex-column">
        <label for="url" class="formLabel">Full Site URL</label>
        <input type="text" name="url" class="formInput" id="url" required>
    </div>
</div>
<p>Page names should include the route from the main url only<br>do not include the preceding /</p>
<div class="flex-row listInputRow">
    <div class="flex-column">
        <label for="pageInput" class="formLabel">New Page</label>
        <input type="text" name=pageInput class="formInput listInput">
    </div>
    <div class="flex-column">
        <div class="listContainer">
        </div>
    </div>
</div>
<div class="flex-row listInputRow">
    <div class="flex-column">
        <label for="pageInput" class="formLabel">Languages</label>
        <input type="text" name=languageInput class="formInput listInput">
    </div>
    <div class="flex-column">
        <div class="listContainer">
        </div>
    </div>
</div>