<section class="col module">
    <h2 class="underline">Waiter Object</h2>
    <div class="row">
        <section class="col fifty">
            <h3>Information</h3>
        </section>
        <section class="col fifty">
            <h3>How to use module</h3>
        </section>
    </div>
</section>