<section class="col module">
    <h2 class="underline">Client Messages</h2>
    <p class="disclaimer">Configured for EJS use</p>
    <div class="row">
        <section class="col fifty">
            <h3>Information</h3>
            <p>If you need a way to send a message to the current user of the site then this module works out of the box.</p>
            <p>You are able to add labels to inform, warn or provide information on any errors that occured for whatever they are doing.</p>
            <div class="col">
                <button class="clientMessageButtons fullWidth">Send Info Message</button>
                <button class="clientMessageButtons fullWidth">Send Warning Message</button>
                <button class="clientMessageButtons fullWidth">Send Error Message</button>
            </div>
            <p>This package also comes with complete server side support.</p>
            <p>To be able send the user a message from the server you can use the flash object with the same format as the client side JS.</p>
        </section>
        <section class="col fifty">
            <h3>How to use the module</h3>
            <section class="col">
                <h4>HTML</h4>
                <div class="raised codeCard">
                    <h5>Adding the partial to the page</h5>
<pre><code>
&lt;%- include("./messages")%&gt;</code></pre>
                    <button class="copyButton secondaryButton">Copy<i class="fas fa-copy"></i></button>
                </div>
            </section>
            <section class="col">
                <h4>JavaScript - client side</h4>
                <div class="raised codeCard">
                    <h5>Adding a message</h5>
<pre><code>
import {addMessage} from "./messages.js";

addMessage(type, text);
</code><code class="parameters">
type: String - The type of messages (info,warning,error)  
text: String - The string of text you wish to display  
</code></pre>
                    <button class="copyButton secondaryButton">Copy<i class="fas fa-copy"></i></button>
                </div>
                <div class="raised codeCard">
                    <h5>Show all messages</h5>
<pre><code>
import {showMessages} from "./messages.js";

showMessages();
</code></pre>
                    <button class="copyButton secondaryButton">Copy<i class="fas fa-copy"></i></button>
                </div>
            </section>
            <section class="col">
                <h4>JavaScript - server side</h4>
                <div class="raised codeCard">
                    <h5>Adding a message</h5>
<pre><code>
req.flash(type, text);
</code><code class="parameters">
type: String - The type of messages (info,warning,error)  
text: String - The string of text you wish to display  
</code></pre>
                    <button class="copyButton secondaryButton">Copy<i class="fas fa-copy"></i></button>
                </div>
                <p class="disclaimer">The flash call must come before any render or redirect</p>
            </section>
    </section>
</section>