<section class="col module">
    <h2 class="underline">Number Input Functionality</h2>
    <div class="row">
        <section class="col fifty">
            <h3>Information</h3>
            <p>This module will extend the functionality of input elements that have the type of 'number'.</p>
            <p>You will be adding auto-select when the element is focused. This increases the user experience as they will not have to delete the value that is already there before being able to add their own value.</p>
            <p>Other functionality includes clamping the value between the min and the max values specified when creating the element. It will also auto-fill to the minumum value if the focus is lost from the element and it does not have a valid value.</p>
            <p>Adding this functionality also allows users to be able to use the mouse wheel on applicable devices.</p>
            <div class="row-left">
                <label for="numberInput">Input field that accepts the numbers 1-50 only</label>
                <input type="number" name="numberInput" class="numFocus" min=1 max=50 step=1>
            </div>
            <p>There are two functions that you can use to add this functionality.</p>
            <p>The first finds all elements that share the same classname, that is passed in as a parameter. This is most likely used on page load.</p>
            <p>The second takes an element in as a parameter and applies the functionality to only that element, this is likely used when creating elements on the fly.</p>
        </section>
        <section class="col fifty">
            <h3>How to use module</h3>
            <section class="col">
                <h4>JavaScript</h4>
                <div class="raised codeCard">
                    <h5>Adding functionality to all elements</h5>
<pre><code>
import {configureAllNumInputs} from "./numInputFunctions.js";  

configureAllNumInputs(className);
</code><code class="parameters">
className: String - The class that you want to add functionality to
</code></pre>
                    <button class="copyButton secondaryButton">Copy<i class="fas fa-copy"></i></button>
                </div>
                <div class="raised codeCard">
                    <h5>Adding functionality to a specific element</h5>
<pre><code>
import {addInputListeners} from "./numInputFunctions.js";

addInputListeners(item);
</code><code class="parameters">
item: HTML - The item that you want to add functionality to  
</code></pre>
                    <button class="copyButton secondaryButton">Copy<i class="fas fa-copy"></i></button>
                </div>
        </section>
    </div>
</section>