<section class="col module">
    <h2 class="underline">Switches</h2>
    <div class="row">
        <section class="col fifty">
            <h3>Information</h3>
            <p>The default checkboxes for HTML are terrible, you can now use the 'Switch' to allow for a better user experience.</p>
            <div class="row-between">
                <div class="col fifty">
                    <h4>Old</h4>
                    <div class="row-left">
                        <label for="name">Label</label>
                        <input type="checkbox" name="name">
                    </div>
                </div>
                <div class="col fifty">
                    <h4>New</h4>
                    <div class="row switchRow">
                        <p>Label</p>
                        <label for="name" class="switch">Label</label>
                        <input type="checkbox" name="name">
                    </div>
                </div>
            </div>
            <p>When importing the <code>switch.js</code> file you will have access to the list of Switch objects that will have been created. Each 'switchRow' element will create 1 Switch object.</p>
            <p>You can query whether the Switch is on or off, the one above is currently <span id="switchStatus">Off</span>.</p>
            <p>And also change the colour of the background of the Switch, try with the buttons below.</p>
            <div class="col">
                <button class="switchColourChange fullWidth">Red</button>
                <button class="switchColourChange fullWidth">Green</button>
                <button class="switchColourChange fullWidth">Blue</button>
                <button class="switchColourChange fullWidth">Orange</button>
            </div>
        </section>
        <section class="col fifty">
            <h3>How to use the module</h3>
            <section class="col">
                <h4>HTML</h4>
                <div class="raised codeCard">
                    <h5>Adding a switch row</h5>
<pre><code>
&lt;div class="row switchRow"&gt;
    &lt;p&gt;Label&lt;/p&gt;
    &lt;label for="name" class="switch"&gt;Label&lt;/label&gt;  
    &lt;input type="checkbox" name="name"&gt;
&lt;/div&gt;</code></pre>
                    <button class="copyButton secondaryButton">Copy<i class="fas fa-copy"></i></button>
                </div>
            </section>
            <section class="col">
                <h4>JavaScript</h4>
                <div class="raised codeCard">
                    <h5>Querying Status</h5>
<pre><code>
switch.isOn;
</code><code class="parameters">
returns Boolean
</code></pre>
                    <button class="copyButton secondaryButton">Copy<i class="fas fa-copy"></i></button>
                </div>
                <div class="raised codeCard">
                    <h5>Changing Colour</h5>
<pre><code>
switch.changeColour(colour);
</code><code class="parameters">
colour: String - The colour the background should be  
</code></pre>
                    <button class="copyButton secondaryButton">Copy<i class="fas fa-copy"></i></button>
                </div>
            </section>
        </section>
    </div>
</section>