<section class="col module">
    <h2 class="underline">Waiter Object</h2>
    <div class="row">
        <section class="col fifty">
            <h3>Information</h3>
            <p>Sometimes you will need to pause user interaction with the project, most of the time to wait for a reponse from the server.</p>
            <p>This waiter object allows you to do just that.</p>
            <div class="col">
                <button class="waiterButton fullWidth">Lock screen for 5 seconds</button>
                <button class="waiterButton fullWidth">Show a timeout error</button>
            </div>
        </section>
        <section class="col fifty">
            <h3>How to use the module</h3>
            <section class="col">
                <h4>How to use the JS functions</h4>
                <div class="raised codeCard">
                    <h5>Creating the waiter</h5>
<pre><code>
import {Waiter} from "./classes.js";

let waiter = new Waiter();
</code></pre>
                    <button class="copyButton secondaryButton">Copy<i class="fas fa-copy"></i></button>
                </div>
                <div class="raised codeCard">
                    <h5>Opening the waiter</h5>
<pre><code>
waiter.open(message);
</code><code class="parameters">
message: String(Optional) - A message to display to the user while the waiter is open  
</code></pre>
                    <button class="copyButton secondaryButton">Copy<i class="fas fa-copy"></i></button>
                </div>
                <div class="raised codeCard">
                    <h5>Changing the waiters text</h5>
<pre><code>
waiter.changeText(text);
</code><code class="parameters">
text: String - The string of text that you want to appear while the waiter is open   
</code></pre>
                    <button class="copyButton secondaryButton">Copy<i class="fas fa-copy"></i></button>
                </div>
                <div class="raised codeCard">
                    <h5>Closing the waiter</h5>
<pre><code>
waiter.close();
</code></pre>
                    <button class="copyButton secondaryButton">Copy<i class="fas fa-copy"></i></button>
                </div>
            </section>
        </section>
    </div>
</section>