<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Project</title>
    <link rel="shortcut icon" href="/img/siteicon.png" />

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <%if(typeof css != "undefined"){%>
        <link rel="stylesheet" type="text/css" href="/css/<%= css %>.css">
    <%}%>
</head>
<body>    
    <%- include("../partials/header") %>
    <%- body %>
    <%- include("../partials/footer") %>
</body>
</html>