$darkBlue: #0c101b;
$blue: #141926;
$green: #4cceac;
$red: #db504a;
$purple: #696ffb;
$white: #e1e1e1;
$grey: #848282;

$roboto-slab: "Roboto Slab", serif;
$roboto: "Roboto", sans-serif;
$lobster: "Lobster Two", cursive;