<div class="flex-column" id="hero">
    <% if(typeof error != "undefined"){ %>
        <h1 class="errorCode"><%= error.code %></h1>
        <h4 class="error">error</h4>
        <p><%= error.message%></p>
        <a href="/" class="backButton"><%= error.buttonText%></a>
    <%}else{%>
        <p>There seems to have been a technical issue, sorry for the inconvenience</p>
        <a href="/" class="backButton">Home</a>
    <%}%>
</div>