<section class="col-center">
    <h1>The home members page</h1>
    <h4>Everything is working perfectly</h4>
    <p class="center">You can now use this project with the knowledge that everything is configured correctly</p>
    <p class="disclaimer">~*~ You will need to change the values within the .env file ~*~</p>
    <p class="center">Finally you will also need to remember to push this project into the GitHub repo that you just made to commit the relevant changes</p>
</section>