<h1>The Hidden Content</h1>

<section>
    <div class="card">
        <h2>Some title</h2>
        <img src="/img/siteicon.png">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum nesciunt illo laudantium atque voluptatum dolorem! Fuga harum nihil dolor molestiae?</p>
        <a href="#" class="button2">To the link</a>
    </div>
</section>