<div class="flex-column" id="hero">
    <h1>Express Server Login Testing site</h1>
    <p>Login servers are user to protect sensitive pages from non-users. This site has two pages, <br>but unless you are logged in you will be unable to view the "Home" page</p>
    <p>To finish this project setup please ensure that you have the following values in a new .env file</p>
    <h3>DATABASE_URL=mongodb+srv://admin:TbhoCorKe19n3xVd@cluster0-9bwu0.mongodb.net/test?retryWrites=true&w=majority
    <h3>SESSION_SECRET=hgoinsdfoi8fGRWG8s</h3>
    <p>Before continuing with the project it is recommended that you run the test below</p>
    <p>Try logging in with the following credentials, Admin:Password123
    <form action="/auth/login" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" required autofocus>
        <label for="password">Password</label>
        <input type="password" name="password" required>
        <button type="submit">Login</button>
    </form>
    <% if(message.error){ %>
        <h3 class="error">Please enter valid credentials</h3>
    <%}%>
</div>