<div id="hero" class="flex-column">
    <h1>Staging</h1>
    <h3>Congratulations, everything now works perfectly</h3>
    <p>You can now use this project with the knowledge that everything is configured correctly</p>
    <p>~*~ You will need to change the values within the .env file ~*~</p>
    <p>Finally you will also need to remember to push this project into the GitHub repo that you just made<br>to commit the relevant changes</p>
</div>