@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Roboto|Montserrat&display=swap');

*, ::before, ::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-weight: 400;
}

:root{
    --mainColour: #1f9d56;
    --secondaryColour: #11C6C6;
    --tertiaryColour: #dd08f7;
    --errorColour: #f84;
}

/* width */
::-webkit-scrollbar {
    width: 0.3vw;
    cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
    border-radius:50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(90deg, var(--mainColour) 0%, var(--secondaryColour) 100%);
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: var(--mainColour);
}

body{
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

#header{
    justify-content: flex-end;
    padding:3vh 10vw 2vh;
    box-shadow: 0px 0px 15px 7px #232323;
    background-image: linear-gradient(180deg, #000 0%, #232323 100%);
    position: fixed;
    top:0;
    z-index: 99;
    width:100vw;
}

nav a{
    color: var(--mainColour);
    cursor: pointer;
    margin: 0 1vw;
}

nav a:hover{
    color: var(--secondaryColour);
}

#hero{
    margin:12vh 0 0vh;
}

h1{
    font-size: 3em;
    color:white;
    font-family: "Libre Baskerville", serif;
    margin-bottom:2.5vh;
}

h2{
    font-size: 2em;
    font-family: "Libre Baskerville", serif;
    color: white;
}

h3{
    font-size: 1em;
    color: var(--mainColour);
}

h4{
    font-size:0.9em;
    color: var(--mainColour);
}

h5{
    font-size: 0.8em;
    color: var(--secondaryColour);
}

p{
    margin: 0 3vw 1vh;
    color: #c1c1c1;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: var(--mainColour);
}

a:hover{
    color: var(--tertiaryColour);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form input, form select{
    max-width: 150px;
    border-radius: 8px;
    margin-bottom:1.5vh;
    padding:0.3vh 0.3vw;
    text-align: center;
    text-align-last: center;
}

form button{
    min-width:5vw;
    border-radius:8px;
    background-color: var(--secondaryColour);
    border:none;
    color:#232323;
    padding: 1vh 2vw;
    cursor:pointer;
    margin-bottom: 2.5vh;
}

form button:hover{
    background-color:var(--mainColour);
    color:#fff;
}

form label{
    text-align: center;
    margin-bottom:0.3vh;
    color:var(--mainColour);
    font-family: "Roboto", sans-serif;
}

#backButton{
    margin-top:1vh;
    color: var(--tertiaryColour);
}

#backButton:hover{
    color:var(--mainColour);
}

.infoMessage{
    color:var(--tertiaryColour);
    font-size:1em;
    margin:1vh 0;
    text-align: center;
    transition: 0.3s;
}

.errorCode{
    margin-bottom:0vh;
    font-size:5em;
}

.error{
    color:var(--errorColour);
    font-size: 0.8em;
    margin-bottom: 1vh;
}

.raisedDiv{
    padding:2%;
    margin:1vh 1vw;
    border-radius: 8px;
    background: linear-gradient(145deg, #1c1d21aa, #17181c33);
    box-shadow:  3px 3px 6px #101114, 
                 -3px -3px 6px #24252a;
    justify-content: flex-start;
    scrollbar-color: var(--mainColour) var(--altBGColour);
    scrollbar-width: thin;

}

.scrollable{
    max-height:30vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#testDiv{
    width:25vw;
}

#testScroll{
    width:80%;
}

#footer{
    width:100vw;
    border-top:1px solid #12121288;
    margin-top:3.5vh;
    padding:2vh 7vw;
}