@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Raleway&display=swap');
*, ::before, ::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --backgroundColour: #fff;
    --backgroundGradient: #eee;
    --primaryColour: #8C104E;
    --secondaryColour: #203E7B;
    --tertiaryColour: #1a72b0;
    --bodyColour: #232323;
    
    --gradientMin: #fff;
    --gradientMax: #eaeae9;
    --boxShadowTop: #ccc;
    --boxShadowBottom: #8888;
    
    --buttonColour:#ccc;
    --buttonHoverColour: #fff;
    
    --errorColour: red;
    --warningColour: #ca6e3a;
    --successColour: rgb(74, 240, 74);
    --infoColour: green;
    
    --underline: #0004;
    
    --box-shadow: inset 1px 1px 3px #0004;
    --box-shadow-hover: inset 5px 5px 10px #000a;
    --box-shadow-hover-small: inset 2px 2px 5px #0008;
    
    --mainFont: 'Antic Slab', sans-serif;
    --secondaryFont: 'Raleway', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 0.5rem;
    height:0.4rem;
    cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
    background: #aaa;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(35deg, var(--secondaryColour) 0%, var(--tertiaryColour) 100%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:focus {
    cursor: pointer;
    background: var(--primaryColour);
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--backgroundColour);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    font-family: var(--secondaryFont);
    overflow-x: hidden;
    min-height:100vh;
}

.col, .col-center, .col-top-center{
    display: flex;
    flex-direction: column;
}
.col{
    align-items: flex-start;
    justify-content: flex-start;
}

.col-center{
    align-items: center;
    justify-content: center;
}

.col-top-center{
    align-items: center;
    justify-content: flex-start;
}

.row, .row-center, .row-end, .row-between, .row-right, .row-left{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row{
    justify-content: flex-start;
    align-items: flex-start;
}

.row-center{
    justify-content: center;
    align-items: center;
    width:100%;
}

.row-end{
    justify-content: flex-end;
    align-items: center;
    width:100%;
}
.row-between{
    justify-content: space-between;
    align-items: center;
    width:100%;
}

.row-right{
    justify-content: flex-end;
    align-items: center;
    width:100%;
}

.row-left{
    justify-content: flex-start;
    align-items: center;
    width:100%;
}

h1,h2,h3,h4,h5{
    font-family: var(--mainFont);
}

p, a, button{
    font-family: var(--secondaryFont);
    font-size: 0.9rem;
}

h1{
    font-size: 2.5rem;
    color:var(--secondaryColour);
}

h2{
    font-size: 1.7rem;
    color: var(--primaryColour);
}

h3{
    font-size: 1.2rem;
    color: var(--secondaryColour);
}

h4{
    font-size:1rem;
    color: var(--primaryColour);
}

h5{
    font-size: 0.8rem;
    color: var(--secondaryColour);
}

p,label{
    color: var(--bodyColour);
}

a{
    text-decoration: none;
    color: var(--bodyColour);
}

a:hover,a:focus{
    color:var(--primaryColour);
}

.center{
    text-align: center;
    max-width:80%;
}

/*Working our margin & padding issues*/
section{
    width: 100%;
    margin: 1rem 0;
}

section > * + *,
form > * + *{
    margin-top:1rem;
}

form label{
    margin-bottom:0.3rem;
    color:var(--primaryColour);
    font-weight: 600;
}

p + p{
    margin-top:0.5rem;
}

h1{
    margin-bottom:1rem;
}

.row > *{
    margin-left:0.5rem;
    margin-right:0.5rem;
}

.row label{
    margin-right:0.5rem;
}

header{
    position: sticky;
    top:0;
    background-color: var(--backgroundGradient);
    box-shadow: 0 3px 5px 2px var(--boxShadowBottom);
    min-height:50px;
    padding:0 3rem;
    z-index: 50;
}

header nav a,
header nav form button[type="submit"]{
    background:transparent;
    color: var(--bodyColour);
    box-shadow:none;
    margin:0 0.5rem;
    font-weight: 800;
    padding:0;
}

header nav a:hover,
header nav a:focus,
header nav form button[type="submit"]:hover,
header nav form button[type="submit"]:focus{
    color:var(--primaryColour);
}

main{
    width:1200px;
    max-width: 90%;
    padding:2rem 0;
}

footer{
    margin-top: auto;
    padding:1rem 0;
}

.raised{
    padding:1rem;
    border-radius: 8px;
    background: linear-gradient(145deg, var(--gradientMin), var(--gradientMax));
    box-shadow:  3px 3px 6px var(--boxShadowBottom), 
                 -3px -3px 6px var(--boxShadowTop);
    scrollbar-color: var(--primaryColour) var(--backgroundGradient);
    scrollbar-width: thin;
    position: relative;
}

button, .button{
    border-radius:8px;
    background-color: var(--secondaryColour);
    border:none;
    color:var(--buttonColour);
    padding: 0.5rem 2rem;
    cursor:pointer;
    box-shadow: var(--box-shadow);
    transition: 0.1s;
    margin:0.5rem;
}

button:hover, .button:hover,
button:focus, .button:focus{
    background-color:var(--primaryColour);
    color:var(--buttonHoverColour);
    box-shadow: var(--box-shadow-hover);
}

.secondaryButton{
    background-color: var(--tertiaryColour);
    font-size: 0.8rem;
    padding:0.3rem 0.8rem;
}

.tertiaryButton{
    font-size: 0.8rem;
    padding:0.3rem 0.8rem;
    background: transparent;
    border-radius:8px;
    transition: 0.1s;
    margin:0.3rem;
    color:var(--bodyColour);
}

.tertiaryButton:hover,
.tertiaryButton:focus{
    background: transparent;
    color:var(--primaryColour);
    box-shadow: var(--box-shadow-hover-small);
}

.tinyButton{
    padding:0.2rem 0.4rem;
}

.hidden{
    display: none;
}

input, select{
    background-color: var(--backgroundGradient);
    color:var(--bodyColour);
    border-radius: 8px;
    padding: 0.3rem;
    border:1.5px solid var(--underline);
}

.tinyInput{
    width:50px;
    padding:0.2rem;
}

.inputRow{
    position:relative;
    padding:0;
}

.inputRow input, .inputRow select{
    padding: 0.3rem 0.3rem 0.3rem 1.5rem;
}

.inputRow i{
    position: absolute;
    top:50%;
    left:0.8rem;
    color:var(--secondaryColour);
    width:20px;
    height:20px;
    transform: translateY(-50%);
    font-size: 0.9rem;
    margin:0;
}

.inputRow i::before{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.underline {
    position: relative;
    width: 100%;
}

.underline::before{
    content:'';
    position:absolute;
    bottom:-0.1rem;
    left:0;
    width:100%;
    height:1px;
    background:var(--underline);
}

.infoMessage, .error, .warning{
    color:var(--infoColour);
    font-size: 0.7rem;
    text-align: left;
    font-weight: 600;
}

.error{
    color:var(--errorColour);
}

.warning{
    color: var(--warningColour);
}

.success{
    color:var(--successColour);
}

.info{
    color:var(--bodyColour);
    font-size: 0.8em;
}

.overlay, .waiterOverlay{
    width:100vw;
    height:100vh;
    background-color: #000a;
    z-index: 51;
    position: fixed;
    top:0;
    left:0;
    display: none;
    margin:0;
}

#loginForm{
    min-width: 600px;
}

.disclaimer{
    font-size: 0.7rem;
    color:var(--warningColour);
    margin-top: 0.5rem;
    font-weight: 600;

}

code{
    color:var(--bodyColour);
}

code.parameters{
    font-size: 0.7rem;
    color:var(--infoColour);
}

.fifty{
    flex:1;
}

@media only screen and (max-width:767px){
    h1{
        font-size: 1.6rem;
        text-align: center;
    }
    h2{
        font-size: 1.3rem;
    }
    h3{
        font-size:1.1rem;
    }
    h4{
        font-size: 0.9rem;
    }
    header{
        padding:0 0.5rem;
    }
    .inputRow{
        width:100%;
    }
    .inputRow i{
        left:1.3rem;
    }
    .inputRow input, .inputRow select{
        width:100%;
    }
    .infoMessage, .error, .warning{
        text-align: center;
    }
    .center{
        max-width:100%;
    }
    .row > *{
        margin:1rem;
    }
    #loginForm{
        min-width: 90%;
    }
    form label{
        margin-top:1rem;
    }
}