@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

*, ::before, ::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-weight: 400;
}

:root{
    --backgroundColour: #000;
    --backgroundGradient: #232323;
    --mainColour: #fc9906;
    --secondaryColour: #11C6C6;
    --tertiaryColour: #dd08f7;
    --errorColour: red;
    --successColour: rgb(74, 240, 74);
}

/* width */
::-webkit-scrollbar {
    width: 0.5vw;
    cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
    border-radius:50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-image: #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: var(--mainColour);
}

body{
    background-color: var(--backgroundColour);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main{
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

section{
    margin: 2rem 0;
}

section * + *{
    margin-top: 1rem;
}

header{
    justify-content: flex-end;
    padding:3vh 10vw 2vh;
    box-shadow: 0px 0px 15px 7px #232323;
    background-image: linear-gradient(180deg, var(--backgroundColour) 0%, var(--backgroundGradient) 100%);
    position: sticky;
    top:0;
    z-index: 99;
    width:100vw;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a{
    color: var(--mainColour);
    cursor: pointer;
    margin: 0 1vw;
}

nav a:hover{
    color: var(--secondaryColour);
}

h1{
    font-size: 2.5em;
    color:white;
    font-family: 'Oswald', sans-serif;
}

h2{
    font-size: 1.7em;
    font-family: 'Oswald', sans-serif;
    color: white;
}

h3{
    font-size: 1.1em;
    color: var(--mainColour);
}

h4{
    font-size:0.9em;
    color: var(--mainColour);
}

h5{
    font-size: 0.8em;
    color: var(--secondaryColour);
}

p{
    color: #c1c1c1;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: var(--secondaryColour);
}

a:hover{
    color: var(--tertiaryColour);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form * + *{
    margin-top: 0;
}

form input, form select{
    border-radius: 8px;
    padding:0.3vh 0.3vw;
    margin:0.1rem 0.5rem 1rem;
}

form button{
    min-width:5vw;
    border-radius:8px;
    background-color: var(--secondaryColour);
    border:none;
    color:#232323;
    padding: 1vh 2vw;
    cursor:pointer;
}

form button:hover{
    background-color:var(--mainColour);
    color:#fff;
}

form label{
    text-align: center;
    color:var(--mainColour);
}

form input[type="file"]{
    color:white;
}

.smallForm{
    align-items: flex-start;
}

.smallForm button{
    font-size: 0.8em;
    padding:0.2rem 0.3rem;
    background-color:#232323;
    color:white;
}

.smallForm button:hover{
    background-color: #232323;
    color:var(--mainColour);
}

.smallForm input{
    width:125px;
}

.smallForm label{
    color:#ccc;
    font-size: 0.8em;
    padding-left: 0.2rem;
}

form .smallInput{
    width:100px;
}

#backButton{
    color: var(--tertiaryColour);
}

#backButton:hover{
    color:var(--mainColour);
}

.infoMessage{
    color:var(--tertiaryColour);
    font-size:1em;
    text-align: center;
    transition: 0.3s;
    position: absolute;
    top:9vh;
}

.errorCode{
    font-size:5em;
}

.error{
    color:var(--errorColour);
}

.success{
    color:var(--successColour);
}

footer{
    display: flex;
    width:100vw;
    border-top:1px solid #232323;
    padding:1rem;
    justify-content: center;
    margin-top: 3rem;
}

#logoutForm button{
    background-color: transparent;
    color: var(--mainColour);
    margin-bottom:0;
    padding:0;
    font-size: 16px;
}

#logoutForm button:hover{
    color:var(--tertiaryColour);
}