@font-face {
  font-family: 'Roboto Slab';
  src: local("Roboto Slab Medium"), local("RobotoSlab-Medium"), url("/fonts/subset-RobotoSlab-Medium.woff2") format("woff2"), url("/fonts/subset-RobotoSlab-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url("/fonts/subset-RobotoSlab-Bold.woff2") format("woff2"), url("/fonts/subset-RobotoSlab-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url("/fonts/subset-RobotoSlab-Regular.woff2") format("woff2"), url("/fonts/subset-RobotoSlab-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local("RobotoBold"), local("Roboto-Bold"), url("/fonts/subset-Roboto-Bold.woff2") format("woff2"), url("/fonts/subset-Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Medium"), local("Roboto-Medium"), url("/fonts/subset-Roboto-Medium.woff2") format("woff2"), url("/fonts/subset-Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto"), local("Roboto-Regular"), url("/fonts/subset-Roboto-Regular.woff2") format("woff2"), url("/fonts/subset-Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url("/fonts/subset-Roboto-MediumItalic.woff2") format("woff2"), url("/fonts/subset-Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lobster Two';
  src: local("Lobster Two"), local("LobsterTwo"), url("/fonts/subset-LobsterTwo.woff2") format("woff2"), url("/fonts/subset-LobsterTwo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lobster Two';
  src: local("Lobster Two Italic"), local("LobsterTwo-Italic"), url("/fonts/subset-LobsterTwo-Italic.woff2") format("woff2"), url("/fonts/subset-LobsterTwo-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

h1, h2, h3, h4, h5, h6 {
  color: #4cceac;
  font-family: "Roboto Slab", serif;
}

@media screen and (max-width: 767px) {
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

h4 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #696ffb;
  margin: 0 1rem;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition: 0.2s color;
}

a:hover {
  color: #4cceac;
}

a:focus {
  color: #4cceac;
  outline: 3px solid #db504a;
  outline-offset: 5px;
  outline-style: groove;
}

.skip-link {
  position: fixed;
  transform: translateY(-200%);
  transition: 0.3s transform ease-in-out;
  z-index: 99;
}

.skip-link[data-state=hidden] {
  display: none;
}

.skip-link:focus {
  transform: translateY(20%);
}

p {
  color: #e1e1e1;
  font-family: "Roboto", sans-serif;
  line-height: 1.3rem;
  max-width: 75ch;
}

p + p {
  margin-top: 1rem;
}

.warning {
  color: #4cceac;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.warning[data-state=hidden] {
  display: none;
}

.warning[data-state=shown] {
  display: block;
}

.info {
  color: #848282;
  font-size: 0.8rem;
}

.grey {
  color: #848282;
}

img {
  border-radius: 8px;
}

ul {
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 500px;
  margin: 1rem 0;
}

form .row {
  margin: 1rem;
}

form h3 {
  color: #696ffb;
  font-size: 2rem;
}

form .info {
  text-align: center;
  width: 100%;
  margin-top: 1rem;
}

@media screen and (max-width: 767px) {
  form {
    min-width: 95%;
  }
  form .row, form .row-between {
    justify-content: center;
  }
  form label {
    margin-bottom: 0.5rem;
  }
}

input, select, textArea {
  padding: 0.3rem;
  border-radius: 8px;
  background: #141926;
  border: 1px solid #696ffb;
  color: #e1e1e1;
  min-width: 100px;
}

input:focus, select:focus, textArea:focus {
  outline: none;
  border-color: #db504a;
}

select {
  min-width: 150px;
}

label {
  color: #e1e1e1;
  font-family: "Roboto", sans-serif;
  margin: auto 1rem;
}

button, .button, .button2, .button3 {
  display: inline-block;
  border: 1px solid #db504a;
  background: none;
  color: #db504a;
  padding: 0.5rem 1.2rem;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin: 0.5rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: border 0.2s ease-out, color 0.2s ease-out;
}

button:hover, .button:hover, .button2:hover, .button3:hover {
  border-color: #4cceac;
  color: #4cceac;
}

button:focus, .button:focus, .button2:focus, .button3:focus {
  color: #4cceac;
  border-color: #4cceac;
  outline: none;
}

button:disabled, .button:disabled, .button2:disabled, .button3:disabled {
  border-color: #848282;
  color: #848282;
  cursor: default;
}

.button2 {
  border: none;
  text-transform: initial;
  margin: 0.3rem;
  padding: 0;
  color: #848282;
}

.button3 {
  border: 1px solid #e1e1e1;
  text-transform: initial;
  margin: 0.3rem;
  padding: 0.2rem 0.4rem;
  color: #e1e1e1;
  font-size: 0.8rem;
}

.deleteButton {
  margin: 0;
  min-width: max-content;
  font-size: 0.8rem;
}

.deleteButton button {
  border: none;
}

#hamburger {
  display: none;
}

@media screen and (max-width: 767px) {
  #hamburger {
    display: block;
    position: fixed;
    left: 5px;
    top: 12px;
    width: 30px;
    height: 36px;
    z-index: 99;
    transition: transform ease-out 0.5s;
    border-radius: 8px;
    border: 1px solid #696ffb;
    background-color: #0c101b;
  }
  #hamburger:focus {
    outline: none;
  }
  #hamburger::before, #hamburger::after {
    content: '';
    position: absolute;
    top: 30%;
    left: 10%;
    width: 80%;
    height: 2px;
    border-radius: 5px;
    background-color: #696ffb;
    transition: transform ease-out 0.5s, background-color ease-out 0.5s;
  }
  #hamburger::after {
    top: 60%;
    width: 60%;
    background-color: #db504a;
  }
  #hamburger[data-state=active] {
    transform: rotate(-180deg);
    border-color: #db504a;
  }
  #hamburger[data-state=active]::before {
    transform: rotate(45deg) translate(15%, 180%);
    background-color: #db504a;
  }
  #hamburger[data-state=active]::after {
    transform: rotate(-45deg) translate(10%, -140%);
    background-color: #db504a;
    width: 80%;
  }
  #hamburger[data-state=inactive] {
    transform: rotate(0deg);
  }
  #hamburger[data-state=inactive]::before, #hamburger[data-state=inactive]::after {
    transform: rotate(0deg);
    background-color: #696ffb;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 20px;
  border: 1px solid #696ffb;
  background: linear-gradient(145deg, #141926 0%, #0e1019 100%);
  min-height: 220px;
}

.card h3 {
  text-align: center;
}

.card img {
  width: 100%;
  margin-bottom: 1rem;
}

.card p {
  text-align: left;
  margin-bottom: 0.3rem;
}

.card .buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto auto 0;
  padding: 1rem 0 0;
}

.card .row-between {
  width: 80%;
  margin-bottom: 0.5rem;
}

.card .description {
  margin: 1rem 1rem 0;
}

@media screen and (max-width: 767px) {
  .card {
    width: 98%;
    margin: 1rem 0;
  }
  .card h2, .card h3, .card p {
    text-align: center;
  }
}

.notifications {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 10px;
  left: 50%;
  z-index: 99;
  border: 2px solid #848282;
  background-color: #0c101b;
  padding: 1rem 1rem 0.5rem;
  border-radius: 8px;
  min-width: 300px;
  max-width: 600px;
}

.notifications[data-state=hidden] {
  transition: 0.5s ease-out transform;
  transform: translate(-50%, -150%);
}

.notifications[data-state=shown] {
  transition: 0.3s ease-out transform;
  transform: translate(-50%, 0%);
}

.notifications p {
  text-align: center;
}

.notifications p[data-state=warning] {
  color: #db504a;
}

.notifications p[data-state=info] {
  color: #e1e1e1;
}

.notifications .button3 {
  margin: 1rem 0.5rem 0.5rem;
}

@media screen and (max-width: 767px) {
  .notifications {
    width: 90%;
    max-width: 90%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.4rem;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0c101b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(90deg, #141926 0%, #4cceac 100%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: #696ffb;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #0c101b;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  background-color: #141926;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 98;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

header a {
  font-weight: bold;
}

header form {
  margin: 0;
}

@media screen and (max-width: 767px) {
  header {
    justify-content: flex-start;
    height: 100vh;
    position: fixed;
    left: 0;
    padding: 4rem 0rem;
    width: 50vw;
    transition: 0.5s ease-out transform;
  }
  header[data-state=open] {
    transform: translateX(0%);
  }
  header[data-state=closed] {
    transform: translateX(-100%);
  }
  header ul {
    flex-direction: column;
  }
  header ul li {
    padding: 1rem 0;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  max-width: 1280px;
  padding: 2rem 0;
  min-height: 85vh;
}

main:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  main {
    width: 100%;
    padding: 1rem;
  }
}

section, article {
  margin: 1rem 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.fw {
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border-top: 2px solid #141926;
  font-size: 0.9rem;
}

footer a {
  font-size: 1rem;
  margin-top: 0.5rem;
}

@media screen and (max-width: 767px) {
  footer {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=main.css.map */