.codeCard{
    position: relative;
    margin-left:1rem;
    padding: 1rem 1rem 2.5rem;
    width: 100%;
    overflow-x: auto;
}

.copyButton{
    position:absolute;
    bottom:0;
    right:0;
}

.copyButton i{
    margin-left:0.5rem;
}

.fullWidth{
    width: 100%;
    min-width: 200px;
}

#sidebarButton{
    position: fixed;
    top:10%;
    left:40px;
    height:40px;
    margin:0;
    transform: rotate(90deg) translateY(150%);
    transform-origin: 0% 0%;
    transition: 0.5s;
    border-radius: 8px 8px 0 0;
    background: var(--backgroundGradient);
    color:var(--bodyColour);
    box-shadow: 2px -2px 3px var(--underline);
    z-index: 49;
}

#sidebar{
    position:fixed;
    top:10%;
    left:0;
    background: var(--backgroundGradient);
    border-radius: 0 10px 10px 0 ;
    box-shadow: 1px 1px 1px var(--boxShadowBottom);
    transform: translateX(-150%);
    transition: 0.5s;
    z-index: 49;
    max-height: 300px;
    overflow-y: auto;
}

#sidebar button{
    width:100%;
    margin:0;
    background: transparent;
    border-radius:0;
    color:var(--bodyColour);
    box-shadow:none;
    border-bottom: 1px solid #0001;
    text-align: left;
}

#sidebar button:hover{
    color:var(--primaryColour);
}

#sidebar #hideSidebar{
    text-align: right;
    font-size: 0.6rem;
    position: sticky;
    top:0;
    background-color: var(--backgroundGradient);
}

#searchableSection{
    border: 1px solid var(--underline);
    padding:1rem;
    border-radius: 8px;
}

#searchableSection p,
#searchableSection h5{
    margin:0.1rem;
}

ul{
    margin-left:1rem;
    font-size: 1rem;
    column-count: 3;
    list-style-type: square;
}

ul li{
    padding-right:0.5rem;
}

#infiniteScroll{
    margin:0.5rem;
    border: 1px solid var(--underline);
    border-radius: 8px;
    max-height: 100px;
    overflow-y: auto;
    padding:0.3rem;
}

@media only screen and (max-width:767px){
    .cardButton{
        padding:1rem;
    }
    .copyButton{
        display: none;
    }
    .codeCard{
        margin-left:0;
        width:80vw;
    }
    #sidebarButton{
        height:40px;
        top:unset;
        bottom:0px;
        left:unset;
        right:0px;
        font-size: 0.8rem;
        transform:translateY(150%);
        box-shadow:-1px -1px 3px var(--underline);
    }
    #sidebar{
        position:fixed;
        top:unset;
        left:unset;
        bottom:0;
        right:0;
        transform:translateY(150%);
        box-shadow:-1px -1px 3px var(--underline);
        border-radius: 8px 0 0 0;
    }
    ul{
        column-count: 2;
    }
}