#searchContainer{
    position: relative;
    margin-bottom:1rem;
}

#searchContainer input{
    z-index:2;
}

#searchContainer i{
    z-index:3;
}

#searchContainer button{
    position: absolute;
    top:0;
    right:5px;
    z-index: 1;
    margin:0;
    transform:translateY(0);
    transition:0.3s;
    border-radius: 0 0 5px 5px;
    padding-top:0.5rem;
}

#searchContainer p{
    margin-top:0.5rem;
}