/***********************Start Switch CSS***********************/
.switchRow{
    align-items: center;
}

.switchRow input{
    display: none;
}

.switchRow p{
    font-size: 1rem;
    margin-right:0.5rem;
}

.switch{
    --dim:18px;
    --bg: grey;
    --trans:-5px;
    width:36px;
    height:calc(var(--dim) / 1.5);
    font-size: 0;
    position:relative;
}

.switch::after, .switch::before{
    content:'';
    position:absolute;
    cursor:pointer;
    transition:0.3s;
}

.switch::before{
    width: 100%;
    height:100%;
    top:0;
    left:0;
    background:var(--bg);
    filter:brightness(0.6);
    border-radius: 50px;
}

.switch::after{
    width:var(--dim);
    height:var(--dim);
    left:0;
    top:50%;
    border-radius:50%;
    transform: translate(var(--trans), -50%);
    background-color: var(--bg);
}