/***********************Start Waiter CSS***********************/
.waiterOverlay{
    background-color: #000c;
}

#spinningWheel{
    --size:80px;
    position:relative;
    width:var(--size);
    height:var(--size);
    --deg: 0deg;
    filter:hue-rotate(calc(var(--deg)));
    transform: rotate(var(--deg));
}

#spinningWheel::before{
    content:'';
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: red;
    position: absolute;
    z-index: 5;
    border-radius: 50%;
    box-shadow: inset 0px -10px 5px #fff8;
}

#spinningWheel::after{
    --size:10%;
    content:'';
    top:var(--size);
    left:var(--size);
    right:var(--size);
    bottom:var(--size);
    background-color: #232323;
    border-radius: 50%;
    position: absolute;
    z-index: 6;
}

#spinnerText{
    color:white;
    font-size: 1.2rem;
}